/* font-family: 'Boogaloo', cursive; */
/* font-family: 'Dosis', sans-serif; */
/* border: medium dashed #000000; */
/* colors:
#000000 black
#0000ee blue
#808080 grey
#990033 burgundy
#de2226 red */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
html {
    height: 100vh;
    min-width:25.750em;                 
}
body {
    padding:.75em;
    font-family: 'Dosis', sans-serif;
}
header {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
    width:100%;
    background-color: #ffffff;
    }
button {
    border: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    }
.border {
    border: 50px;
    border-color: #faf0e6;
}
.button {
    border-radius: 25px;
    border: none;
}
.addtocart {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
    width:100%;
    background-color: #ffffff;
    }
.item {
    font-size: 20px;
}
.logo {
    min-width:7em;
    padding:1.25em;
}
nav {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    width:100%; 
    min-height:3.125em;
    background-color: #c74246;
    font-size:22px;
    border-top: 0.15em solid black;
    border-bottom: 0.15em solid black; 
}
.navlinks {
    width:100px;
    padding: .5em;
    text-align:center; 
    align-items: center;
    border-radius: 30px 30px 0px 0px; 
}
a {
  text-decoration: none;
  font-size: 85%;  
  color:#000000;
}
a:link {color: #000000;border-radius: 30px 30px 0px 0px;}
a:visited {color: #000000;}
a:hover {color: #0000ee; background-color:#ffffff;}
a:active {color: red; background-color:#ffffff;}

.navlinkstan a {
  text-decoration: none;
  color:#faf0e6;
}
.navlinksblack a {
    text-decoration: none;
    color:#000000;
  }
.navlinks a:link {color: #ffffff;}
.navlinks a:visited {color: #ffffff;}
.navlinks a:hover {color: #0000ee; background-color:#faf0e6;padding:0 .25em 1.2em .25em;}
.navlinks a:active {color: red; background-color:#faf0e6;padding:0 .25em 1.2em .25em;}

.navbuttonpadding {
    padding-top: 5px;
    padding-bottom: 10px;
}

.main1welcome {
    font-family: 'Boogaloo', cursive;
    font-size:3em;
    padding:.5em 0 .5em .25em;
    background-color: #ffffff;
}
.main1title {
    font-family: 'Boogaloo', cursive;
    font-size:3em;
    padding:.5em 0 .5em .25em;
    background-color: #faf0e6;
}
.main2 {
    position: relative;
    text-align: left;
    background-color: #faf0e6;
}
.main3 {
    font-family: 'Dosis', sans-serif;
    font-size:1em;
    padding:.5em 0 .5em 1em;
    background-color: #faf0e6;
}
.tanbackground {
    background-color: #faf0e6; 
}
.blacktext {
    color: #000000;
}
.dosisxlite {
    font-family: 'Dosis', sans-serif;
    font-size:1em;
}
.inventory {
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    background-color: #faf0e6;
}
.inventory h3 {
    position:relative;
    top:0;
    left:0;
    width:100%;
    padding:.5em 0 .75em 0;
}
.inventory a:link {text-decoration:underline;padding:.25em 0 1.25em 0;}

.grouping {
    background-color: #faf0e6;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:baseline;
    /* border: 0.313em solid blue; */
}
.art {
    margin:25px;
    border: 0.313em solid black;
    border-radius: 10px;
    padding: 10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
}
#welcome {
    color: #c74246;
}

footer {
    font-size:.75em;
    width:100%;
    text-align: center;
    background-color: #ffffff;
    padding-top: .4em;
    padding-bottom: .4em;
}
.largerCheckbox
{
width: 30px;
height: 30px;
}
ul {
    list-style-type: circle;
    margin: 20px;
}
li {
    list-style-type: circle;
    margin: 20px;
}
.biopic {
    padding-left: 50px;
    padding-bottom: 50px;
}
.formdiv {
    padding-left: 50px;
}
