/* font-family: 'Boogaloo', cursive; */
/* font-family: 'Dosis', sans-serif; */
/* border: medium dashed #000000; */
/* colors:
#000000 black
#ffffff white
#0000ee blue
#808080 grey
#990033 burgundy
#de2226 red */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
html {
    height: 100vh;
    background-image: url("/acme/images/site/background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;  
    min-width:25.750em;                     /*412px IPhone 8Plus and Nexus5X*/
}
body {
    padding:1.5em;
    font-family: 'Dosis', sans-serif;
}
header {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
    width:100%;
    background-color: #ffffff;
    }
.logo {
    width:50%;
    min-width:10em;
    max-width:20em;
    padding:1.25em;
}
#logoimg {
    width:100%;
    height:100%;
}
.tools {
    display:flex;
    justify-content: flex-end;
    align-items:center; 
    font-size:1.75em;
    color:#000000;
 }
 .tools span {
     margin-right: .5em;
     font-size: .5em;
 } 
#toolsimg {
    height:20%;
    width:20%;
    min-width:60px;
    padding-right:.5em;
}
#myaccount {
    padding-right:.5em;
}
nav {
    font-family: 'Boogaloo', cursive;
    background-color: #de2226;
    color: #ffffff;
    width: 100%;
}
nav ul {
    display:flex;    
    flex-flow:row wrap;
    justify-content:flex-start;
}    
nav li {
    padding: .5em 1em .5em 1em;
    list-style:none;    
    text-decoration: none;
}
nav li a {
    color: #ffffff;
    font-size: 1.5em;    
    list-style:none;    
    text-decoration: none;
}
nav li a:link{
    background-color: #de2226;
    color: #ffffff;
}
nav li a:visited{
    background-color: #de2226;
    color: #ffffff;
}
nav li a:hover{
    background-color: #ffffff;
    color: #de2226;
    padding: .5em;
}
nav li a:active{
    background-color: #ffffff;
    color: #de2226;
    padding: .5em;
}
.main1 {
    font-family: 'Boogaloo', cursive;
    font-size:3em;
    padding:.5em 0 .5em .25em;
    background-color: #ffffff;
}
.main2 {
    position: relative;
    text-align: center;
    background-color: #ffffff;
}
.feature {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background: url("images/site/rocketfeature.jpg");
  z-index: 0; 
}
#featureimg {
    width:100%;
}
.text {
    color:#de2226;
    text-align:left;
    font-size:85%;
    position: absolute;
    width: 12.5em;
    height: 6.25em;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
.text ul {
    list-style:none;
}
.text a {    
    background:transparent;
}
#actionbtnimg {
    width:75%;
    height:75%;
    padding-top:0.625em;
}
.main3 {
    font-family: 'Dosis', sans-serif;
    font-size:1em;
    padding:.5em 0 .5em 1em;
    background-color: #ffffff;
}
.reviews h3 {
    position:relative;
    top:0;
    left:0;
    width:100%;    
    padding:.5em 0 .5em 0;
}
.recipes {
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
}
.recipes h3 {
    position:relative;
    top:0;
    left:0;
    width:100%;
    padding:.5em 0 .75em 0;
}
.recipes a:link {text-decoration:underline;padding:.25em 0 1.25em 0;}
.grouping {
    margin:auto;
    background-color: #ffffff;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    padding-bottom:1em;
    padding-top:1em;
}
.recipemodule {
  width: 25%;
  min-width:9.375em;
  z-index: 0;
  border: 0.125em solid #25468f;
  border-radius: 0.5em;
  background-color: #e5e5e5;
}
#recipeimg {
    display:flex;
    flex-direction:column;
    margin:auto;
}
.formdiv {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:baseline;
    background-color:#ffffff;
    padding:2em;
    width:100%;
    font-size:1.5em;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
    padding:.5em 0 0 0;
}
span {
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
    padding:.5em 0 0 0;
    font-size:1.2em;
}
input {
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
}
.passwordparameters {
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
    font-style:italic;
    font-size:.85em;
    padding:0 0 .2em 0;
}
.passwordspan {
    padding:.5em 0 0 0;
}
p {
    color:#0000ee;
    font-size:1em;
    font-weight:bold;
}
textarea {
    text-align: left;
}
.inputfld {
    width:200px;
    border: 1px solid;
    padding: .5em 10px 10px 10px;
    box-shadow: 2.5px 5px #808080;
}
.forgotpassword {
    padding:.5em 0 1.5em 0;    
    font-size:1em;
    width:200px;
    text-align:center;
}
.newacctpad {
    padding:.25em 0 .25em 0;
}
.createacct {     
    border: .1em solid #808080;
    background-color: #de2226;
    color:#ffffff;          
    font-size:.75em;
    font-weight:bold;
    width:200px;
    height:40px;
    text-decoration:none;
    text-align:center;
}
.createacct a {
    text-decoration:none;
    color:#ffffff;
    font-size:1.5em;
}
.submit {
    background-color: #de2226;
    color:#ffffff;        
    font-size:1.25em;
    text-align:center;
    width:200px;
    height:40px;
    border: .1em solid #808080;
}
.prodmgmt {
    padding-top: 1em;
    font-size: 1.5em;
}
footer {
    font-size:.75em;
    width:100%;
    text-align: center;
    background-color: #ffffff;
    padding-top: .4em;
    padding-bottom: .4em;
    border-top: 0.313em solid #000000;
}
.mainAdmin {
    display:flex;
    flex-direction:column;
    width:100%;
    background-color: #ffffff;
}
.mainAdmin1 {
    font-family: 'Dosis', sans-serif;
    font-size:3em;
    padding:.5em 0 .25em .25em;
}
.textAdmin {
    color:#000000;
    font-weight:bold;
    text-align:left;
    width: 12.5em;
    height: 6.25em;
    top: 40%;
    left: 80%;
    width:100%;
    padding:.5em 0 .5em 2em;
  }
.textAdmin ul {
    list-style:disc;
}
.textAdmin a {    
    background:transparent;
}
.prodhdg {
    width:100%;
    font-size:2em;
    padding: .25em 0 1em 3.5em;
}

@media screen and (min-width:47.938em) {          /*767/768px IPad*/
    body {
    padding:3em;
    }
    #logo {
        width:50%;
        height:50%;
    }
    .tools {
        font-size:2em;
     }
    #myaccount {
        padding-right:.75em;
    }
    .main1 {
        font-size:4em;
    }
    .text {
        font-size:1.75em;
      }
    .main3 {
        display:flex;
        flex-flow:row-reverse nowrap;
        font-size:1.75em;
        padding:0;
    }
    .recipes {
        width:50vw;
        display:flex;
        flex-flow:row wrap;

    }
    .recipes h3 { 
        padding:.5em 0 0 1em;
    }
    .recipes a:link {text-decoration:underline;padding:0;}
    .reviews {
        width:50vw;
        padding-left:1em;
    }
    .groupingsdiv {
        display:flex;
        flex-flow:row wrap;
        justify-content:space-around;
        align-items:flex-start;
    }
    .grouping {
        margin:0;
        background-color: #ffffff;
        font-size:.75em;        
    }

    .inputfld {
    width:300px;
    }

    footer {
        font-size:1em;
    }
    .mainAdmin1 {
        font-size:4em;
        }
    .textAdmin {
        font-size:1.75em;
        }
    .prodhdg {
        font-size:2.5em;
    }
    }
@media screen and (min-width:63.938em) {       /*1023/1024px IPad Pro*/
    body {
    padding:4.53em;
    }
    .tools {
        font-size:2.5em;
     }
    #myaccount {
        padding-right:1em;
    }
    nav {
        font-size:2.5em;
    }
    .main1 {
        font-size:4.5em;
    }
    .text {
        font-size:2em;
      }
    .main3 {
        font-size:2em;
    }
    .grouping {

    }
    footer {
        font-size:1.5em;
    }
     nav ul {
        list-style-type: none;
        text-decoration: none;
        width: 100%;
        height: 100%;
        font-size: .8em;
    }
    nav li {
    }
    nav li a {
        color: #fff;
    }

    .inputfld {
    width:400px;
    }
    .mainAdmin1 {
        font-size:4.5em;
    }
    .textAdmin {
        font-size:2em;
      }
    .prodhdg {
        font-size:3em;
    }      
}

/*.error {
    font-size:1.5em;
    padding: 1em;
}*/
