/* font-family: 'Boogaloo', cursive; */
/* font-family: 'Dosis', sans-serif; */
/* border: medium dashed #000000; */
/* colors:
#000000 black
#0000ee blue
#808080 grey
#990033 burgundy
#de2226 red */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
html {
    height: 100vh;
    background-image: url("/acme/images/site/background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;  
    min-width:25.750em;                     /*412px IPhone 8Plus and Nexus5X*/
}
body {
    padding:.75em;
    font-family: 'Dosis', sans-serif;
}
header {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
    width:100%;
    background-color: #ffffff;
    }
.logo {
    min-width:7em;
    padding:1.25em;
}
#logo {
    width:100%;
    height:100%;
}
.tools {
    display:flex;
    justify-content: flex-end;
    align-items:center; 
    font-size:1.75em;
    color:#000000;
 }
#tools {
    height:20%;
    width:20%;
    padding-left: 50px;
}
nav {
    display:flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    width:100%; 
    min-height:3.125em;
    background-color: #c74246;
    font-size:16px;
    font-weight: bold;
}
.navlinks {
    width:100px;
    padding: .5em;
    text-align:center;
}
a {
  text-decoration: none;
  font-size: 85%;  
  color:#000000;
}
a:link {color: #000000;}
a:visited {color: #000000;}
a:hover {color: #0000ee; background-color:#ffffff;}
a:active {color: red; background-color:#ffffff;}

.navlinks a {
  text-decoration: none;
  font-size:16px;  
  color:#ffffff;
}
.navlinks a:link {color: #ffffff;}
.navlinks a:visited {color: #ffffff;}
.navlinks a:hover {color: #0000ee; background-color:#ffffff;padding:0 .25em 1.2em .25em;}
.navlinks a:active {color: red; background-color:#ffffff;padding:0 .25em 1.2em .25em;}

.main1 {
    font-family: 'Boogaloo', cursive;
    font-size:3em;
    padding:.5em 0 .5em .25em;
    background-color: #ffffff;
}
.main2 {
    position: relative;
    text-align: left;
}
.feature {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background: url("images/site/rocketfeature.jpg");
  z-index: 0; 
  width:100%;  
}
.text {
    color:#de2226;
    text-align:left;
    font-size:85%;
    position: absolute;
    width: 12.5em;
    height: 6.25em;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
.text ul {
    list-style:none;
}
.text a {    
    background:transparent;
}
#actionbtn {
    width:75%;
    height:75%;
    padding-top:0.625em;
}
.main3 {
    font-family: 'Dosis', sans-serif;
    font-size:1em;
    padding:.5em 0 .5em 1em;
    background-color: #ffffff;
}
.reviews ul{
   padding-left: 1em;
}
.reviews h3 {
    position:relative;
    top:0;
    left:0;
    width:100%;    
    padding:.5em 0 .5em 0;
}
.inventory {
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
}
.inventory h3 {
    position:relative;
    top:0;
    left:0;
    width:100%;
    padding:.5em 0 .75em 0;
}
.inventory a:link {text-decoration:underline;padding:.25em 0 1.25em 0;}
.grouping {
    background-color: #ffffff;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
}
.art {
    margin:50px;
}
#welcome {
    color: #c74246;
}
.bbq {
  width: 25%;
  min-width:9.375em;
  z-index: 0;
  border: 0.125em solid #25468f;
  border-radius: 0.5em;
  background-color: #e5e5e5;
}
#imgbbq {
    display:flex;
    flex-direction:column;
    margin:auto;
}
.potpie {
  width: 25%;  
  min-width:9.375em;
  text-align: center;
  z-index: 0;
  border: 0.125em solid #25468f;
  border-radius: 0.5em;
  background-color: #e5e5e5;
}
#imgpotpie {
    display:flex;
    flex-direction:column;
    margin:auto;
}
.soup {
  width: 25%;  
  min-width:9.375em;
  text-align: center;
  z-index: 0;
  border: 0.125em solid #25468f;
  border-radius: 0.5em;
  background-color: #e5e5e5;
}
#imgsoup {
    display:flex;
    flex-direction:column;
    margin:auto;
}
.taco {
  width: 25%;  
  min-width:9.375em;
  text-align: center;
  z-index: 0;
  border: 0.125em solid #25468f;
  border-radius: 0.5em;
  background-color: #e5e5e5;
}
#imgtaco {
    display:flex;
    flex-direction:column;
    margin:auto;
}
footer {
    font-size:.75em;
    width:100%;
    text-align: center;
    background-color: #ffffff;
    padding-top: .4em;
    padding-bottom: .4em;
    border-top: 0.313em solid #000000;
}
