/* ta02.css */

.div-first {
	background-color: #571745;
	height: 1em;
	font-size: 2em;
	color: white;
	padding: .5em;
	text-align: center;
}
.div-later {
	font-size: 0.7em;
}
#div2 {
	background-color: #8f1940;
	height: 1em;
	font-size: 2em;
	color: white;
	padding: .5em;
	text-align: center;
}
#div3 {
	background-color: #c91f3d;
	height: 1em;
	font-size: 2em;
	color: white;
	padding: .5em;
	text-align: center;
}
.hover-bold:hover {
	font-weight: bold;
}
button{
    margin-left: 25%;
	margin-right: 25%;
	padding: .5em;
    border: .5em solid #f1593a ;
    border-radius: 0.625em;
	background-color: #ffc30d;
	cursor: pointer;
	font-size: 2em;
	color: #571745;
    }
.label{
    text-align: center;
    font-size: 2em;
    color: #571745;
}
p {
	text-align: center;
	font-size: 2em;
}