/* style.css */
​
.div-first {
	background-color: #00BCD4;
	font-size: 2em;
}
​
.div-later {
	font-size: 0.7em;
}
​
#div1 {
	background-color: red;
	height: 10em;
}

#div2 {
	background-color: green;
}
​
#div3 {
	background-color: blue;
}
​
.hover-bold:hover {
	font-weight: bold;
}