/* ta02.css */
body {
	display: flex; /* or inline-flex */
	flex-wrap: wrap;
  }
#div1 {
	background-color: #571745;
	width: 25em;
	height: 1em;
	font-size: 2em;
	color: white;
	padding: .5em;
	text-align: center;
}
.div-later {
	font-size: 0.7em;
}
#div2 {
	background-color: #8f1940;
	width: 25em;
	height: 1em;
	font-size: 2em;
	color: white;
	padding: .5em;
	text-align: center;
}
#div3 {
	background-color: #c91f3d;
	width: 25em;
	height: 1em;
	font-size: 2em;
	color: white;
	padding: .5em;
	text-align: center;
}
#div4 {
	width: 100%;
}
.hover-bold:hover {
	font-weight: bold;
}
button{
	width: 25em;
	padding: .5em;
    border: .5em solid #f1593a ;
    border-radius: 0.625em;
	background-color: #ffc30d;
	cursor: pointer;
	font-size: 2em;
	color: #571745;
    }
.label{
    text-align: center;
    font-size: 2em;
    color: #571745;
}
p {
	text-align: center;
	font-size: 1em;
}