/* ta02.css */

.div-first {
	background-color: #571745;
	height: 3em;
	font-size: 2em;
	color: white;
	padding-top: 2em;
	text-align: center;
}

.div-later {
	font-size: 0.7em;
}

#div2 {
	background-color: #8f1940;
	height: 3em;
	font-size: 2em;
	color: white;
	padding-top: 2em;
	text-align: center;
}

#div3 {
	background-color: #c91f3d;
	height: 3em;
	font-size: 2em;
	color: white;
	padding-top: 2em;
	text-align: center;
}

.hover-bold:hover {
	font-weight: bold;
	font-size: 4em;
}
button{
	width: 10em;
	padding: .5em;
	border: .75em solid #f1593a;
	background-color: #ffc30d;
	cursor: pointer;
	font-size: 2em;
	color: #571745;
	display: inline-flexbox;
    }
.label{
    width: 10em;
    text-align: center;
    font-size: 3em;
    color: #571745;
}
.input{
    width: 10em;
    text-align: center;
    font-size: 3em;
    color: #571745;	
}