/* ta02.css */

.div-first {
	background-color: #571745;
	height: 3em;
	font-size: 2em;
	color: white;
	padding-top: 2em;
	text-align: center;
}

.div-later {
	font-size: 0.7em;
}

#div2 {
    background-color: #8f1940;
	height: 3em;
	font-size: 2em;
	color: white;
	padding-top: 2em;
	text-align: center;
}

#div3 {
	background-color: #c91f3d;
	height: 3em;
	font-size: 2em;
	color: white;
	padding-top: 2em;
	text-align: center;
}

.hover-bold:hover {
    font-weight: bold;
	font-size: 10em;
}